.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &__logo {
    color: $yellow;
    font-weight: 600;
    font-size: 24px;
    padding: 8px 16px;
  }
  &__account {
    color: $gray;
    padding: 8px 16px;
  }
  &__nav {
    width: 100%;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
      color: $yellow;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 24px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          right: -12px;
          border-right: 1px solid $yellow;
        }
      }
    }
  }
}
