.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__tip {
    color: $yellow;
    width: 100%;
    text-align: center;
    margin: 24px 0;
    font-size: 24px;
    font-weight: 600;
  }
  &__content {
    display: flex;
    align-items: center;
    &__submit {
      @include rwd {
        width: 48px;
      }
    }
  }
}
